@page
@model FootballDirectory.Pages.Stadiums.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Team Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadiums[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadiums[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stadiums)
        {
            var team = Model.Teams.Where(x => x.TeamID == item.TeamID).FirstOrDefault().Name;
            <tr>
                <td>
                    @team
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.StadiumID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.StadiumID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.StadiumID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
