@page
@model FootballDirectory.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Team
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {
            var teamName = Model.Teams.Where(x => x.TeamID == item.TeamID).FirstOrDefault().Name;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @teamName
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PlayerID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PlayerID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PlayerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
